body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  background: #5d5d5d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15vh;
}

form input, form textarea {
  font-family: "Montserrat", sans-serif;
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.success {
  color: rgb(175, 255, 175);
  font-weight: bold;
  margin-top: 20px;
}

.error {
  color: rgb(255, 167, 167);
  font-weight: bold;
  margin-top: 20px;
}

.output {
  padding: 10px;
  margin-top: 10px;
}

.main {
  border-radius: 16px;
  padding: 30px;
  backdrop-filter: blur(150px);
  -webkit-backdrop-filter: blur(150px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.18);
  max-width: 600px;
  width: 100%;
}

.splotch {
  position: absolute;
  width: 100vw;
  height: 100vh;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.7;
  z-index: -1;
}

/* Individual splotches */
.splotch1 {
  background: radial-gradient(circle, #ff6ec4, #7873f5);
  top: -45%;
  left: -45%;
}

.splotch2 {
  background: radial-gradient(circle, #42e695, #3bb2b8);
  top: -45%;
  left: 45%;
}

.splotch3 {
  background: radial-gradient(circle, #ea1111, #950f0f);
  top: 65%;
  left: -45%;
}

.splotch4 {
  background: radial-gradient(circle, #f9d423, #ff4e50);
  top: 65%;
  left: 45%;
}